html,
body {
    font-family: "PT Sans Narrow", sans-serif;

    height: 100%;
    margin: 0;

    text-transform: uppercase;

    color: white;
}

body {
    display: flex;
    flex-direction: column;

    background-repeat: no-repeat;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;

    background-color: #1f1f1f;
}

.btn {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: bold;

    display: inline-block;

    width: 140px;
    *height: 43px;
    padding: 14px 0;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: white;
    border: none;
    background-color: black;
}

.btn:hover {
    background-color: #663d15;
    cursor: pointer;
}

.mainHeaderContainer {
    display: flex;

    min-height: 72px;
    margin-bottom: 58px;

    background-color: black;

    justify-content: space-between;
}

.mainNavigator ul {
    display: flex;

    min-width: 505px;
    height: 100%;
    margin: 0;
    padding-right: 0;
    padding-left: 0;

    align-items: center;
    justify-content: space-between;
}

.mainNavigator li {
    list-style: none;
}

.mainNavigator ul a {
    display: inline-block;

    padding-top: 27px;
    padding-right: 20px;
    padding-bottom: 27px;
    padding-left: 20px;
}

.mainNavigator ul li:first-of-type {
    padding-left: 30px;
}

.mainHeaderContainer a {
    font-weight: bold;

    text-decoration: none;
}

.userBlock .login {
    position: relative;

    display: inline-block;

    padding-top: 27px;
    padding-right: 20px;
    padding-bottom: 27px;
    padding-left: 53px;
}

.userBlock .login:before {
    position: absolute;
    top: 27px;
    left: 22px;

    width: 18px;
    height: 16px;

    content: "";

    background-image: url(../images/.icon-login.png);
}

.indexLogo {
    line-height: 0;

    margin-bottom: 22px;

    text-align: center;
}

.features {
    display: flex;

    min-height: 180px;
    margin-bottom: 76px;

    justify-content: space-between;
}

.featuresItem {
    display: flex;
    flex-direction: column;

    width: 300px;

    text-align: center;
}

.featuresName {
    font-size: 30px;

    position: relative;

    margin-bottom: 30px;
    padding-bottom: 45px;
}

.featuresItem .featuresName:after {
    position: absolute;
    bottom: 0;
    left: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-left: -10px;

    content: "";
    transform: rotate(45deg);

    background-color: white;
}

.featuresItem p {
    font-size: 14px;
    line-height: 25px;            /*Убрать размер*/

    margin: 0;
}

.indexContent {
    display: flex;

    margin-bottom: 34px;
    padding: 50px 80px 54px;
}

.indexContent .indexContentLeft {
    width: 380px;
    margin-right: 90px;
    position: relative;
}

.indexContentLeft .newsPreview {
    margin-bottom: 34px;
}

.indexContentLeft h2 {
    margin-top: 0;
    margin-bottom: 30px;
}

.indexContentLeft ul {
    padding-left: 0;

    list-style: none;
}

.indexContentLeft li {
    margin-bottom: 28px;
}

.indexContentLeft p {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;

    margin-bottom: 2px;
}

.newsPreview time {
    font-size: 14px;

    display: inline-block;

    text-transform: none;
}

.indexContent .indexContentRight {
    width: 380px;
    margin-left: 90px;
}

.indexContentRight p {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 27px;
    margin-top: -6px;
}

.indexContentRight h2 {
    margin-top: 0;
    margin-bottom: 36px;
}

.indexContentRight .gallery {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
}

.indexContentRight .galleryContent {
    width: 286px;
    height: 164px;
    margin: 0;
    margin-bottom: 38px;
    padding: 7px;

    background-color: white;
}

.indexContentLeft .address {
    margin-bottom: 25px;
}

.indexContentLeft .working-time {
    margin-bottom: 47px;
}

.indexContentLeft .left-block-buttons {
    display: flex;
    justify-content: space-between;   
}

.indexContentRight .appointmentForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.appointmentForm input {
    width: 120px;
    height: 39px;
    margin: 0;
    border: 2px solid black;
    padding-left: 15px;
    margin-bottom: 19px;
    color: black;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.appointmentForm .btn {
    display: block;
    margin-top: 15px;
    width: 100%;
}