html,
body {
    font-family: "PT Sans Narrow", sans-serif;

    height: 100%;
    margin: 0;

    text-transform: uppercase;

    color: white;
}

body {
    display: flex;
    flex-direction: column;

    
    background: url(../images/body-bg-60.jpg) #070707;
    background-repeat: no-repeat;
    background-position-x: center;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
}

.btn {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: bold;

    display: inline-block;

    width: 140px;
    padding: 14px 0;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: white;
    border: none;
    background-color: black;
}

.btn:hover {
    background-color: #663d15;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

.mainHeader {
    width: 100%;
    margin-bottom: 58px;
    background-color: black;
}

.mainHeaderContainer {
    display: flex;

    min-height: 72px;

    background-color: black;

    justify-content: space-between;
}

.mainNavigator ul {
    display: flex;

    min-width: 505px;
    height: 100%;
    margin: 0;
    padding-right: 0;
    padding-left: 0;

    align-items: center;
    justify-content: space-between;
}

.mainNavigator li {
    list-style: none;
}

.mainNavigator ul a {
    display: inline-block;

    padding-top: 27px;
    padding-right: 20px;
    padding-bottom: 27px;
    padding-left: 20px;
}

.mainHeader a:hover {
    background-color: #242424;
}

.mainNavigator ul li:first-of-type {
    padding-left: 30px;
}

.mainHeaderContainer a {
    font-weight: bold;

    text-decoration: none;
}

.userBlock .login {
    position: relative;

    display: inline-block;

    padding-top: 27px;
    padding-right: 20px;
    padding-bottom: 27px;
    padding-left: 53px;
}

.userBlock .login:before {
    position: absolute;
    top: 27px;
    left: 22px;

    width: 18px;
    height: 16px;

    content: "";

    background-image: url(../images/.icon-login.png);
    
    opacity: 0.3;
}

.userBlock .login:hover:before {
    opacity: 1;
}

.indexLogo {
    line-height: 0;

    margin-bottom: 22px;

    text-align: center;
}

.features {
    display: flex;

    min-height: 180px;
    margin-bottom: 76px;

    justify-content: space-between;
}

.featuresItem {
    display: flex;
    flex-direction: column;

    width: 300px;

    text-align: center;
}

.featuresName {
    font-size: 30px;

    position: relative;

    margin-bottom: 30px;
    padding-bottom: 45px;
}

.featuresItem .featuresName:after {
    position: absolute;
    bottom: 0;
    left: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-left: -10px;

    content: "";
    transform: rotate(45deg);

    background-color: white;
}

.featuresItem p {
    font-size: 14px;
    line-height: 25px;            /*Убрать размер*/

    margin: 0;
}

.indexContent {
    display: flex;

    margin-bottom: 34px;
    padding: 50px 80px 63px;
    
    background: url(../images/index-content-bg.jpg) white;
    color: black;
}

.indexContent:last-of-type {
    margin-bottom: 64px;
}

.indexContent .indexContentLeft {
    width: 380px;
    margin-right: 90px;
    position: relative;
}

.indexContentLeft .newsPreview {
    margin-bottom: 34px;
}

.indexContentLeft h2 {
    margin-top: 0;
    margin-bottom: 30px;
}

.indexContentLeft ul {
    padding-left: 0;

    list-style: none;
}

.indexContentLeft li {
    margin-bottom: 28px;
}

.indexContentLeft p {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;

    margin-bottom: 2px;
}

.newsPreview time {
    font-size: 14px;

    display: inline-block;

    text-transform: none;
}

.indexContent .indexContentRight {
    width: 380px;
    margin-left: 90px;
}

.indexContentRight p {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 27px;
    margin-top: -6px;
}

.indexContentRight h2 {
    margin-top: 0;
    margin-bottom: 36px;
}

.indexContentRight .gallery {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
}

.indexContentRight .galleryContent {
    width: 286px;
    height: 164px;
    margin: 0;
    margin-bottom: 38px;
    padding: 7px;

    background-color: white;
}

.indexContentLeft .address {
    margin-bottom: 27px;
}

.indexContentLeft .working-time {
    margin-bottom: 47px;
}

.indexContentLeft .left-block-buttons {
    display: flex;
    justify-content: space-between;   
}

.indexContentRight .appointmentForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.appointmentForm input {
    width: 120px;
    height: 39px;
    margin: 0;
    border: 2px solid black;
    padding-left: 15px;
    margin-bottom: 19px;
    color: black;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.appointmentForm .btn {
    display: block;
    margin-top: 15px;
    width: 100%;
}

.mainFooter, 
.mainFooterContainer {
    background: url(../images/footer-bg.png) #222222;
}

.mainFooterContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 57px;
    padding-bottom: 38px;
}

.mainFooterContainer p {
    margin: 0;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.mainFooterContainer .footerContacts {
    width: 310px;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
    position: relative;
}

.mainFooterContainer .footerSocial {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    position: relative;
}

.mainFooterContainer .footerSocial p {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.footerSocial .socialBtn {
    width: 43px;
    height: 43px;
    background-color: black;
    background-image: url(../images/social-logos.png);
    background-position: center;
    background-repeat: no-repeat;
}

.footerSocial .socialBtn:hover {
    filter: invert(100%);
}

.footerSocial .socialBtnVk {
    background-position-x: 8px;
}

.footerSocial .socialBtnFb {
    margin: 0 6px;
    background-position-x: -40px;
}

.footerSocial .socialBtnInst {
    background-position-x: -89px;
}

.mainFooterContainer .footerCopyright {
    text-align: right;
    width: 310px;
    position: relative;
}

.mainFooterContainer .footerCopyright p {
    margin-right: 31px;
    margin-bottom: 20px;
}

.popup {
    position: fixed;
    width: 300px;
    padding: 49px 80px 58px;
    left: 50%;
    margin-left: -190px;
    top: 20%;
    font-size: 14px;
    background: white;
    color: black;
    font-weight: bold;
    z-index: 20;
}

.popup .popup-close,
.popup-map .popup-close {
    width: 23px;
    height: 23px;
    position: absolute;
    background: url(../images/close-button.png);
    border: none;
    outline: none;
    top: 9px;
    right: -36px;
}



.popup h1 {
    margin: 0;
    font-size: 30px;
    margin-bottom: 24px;
}

.popup h1 + div {
    margin-bottom: 15px;
}

.popup .login,
.popup .password {
    width: 240px;
    border: 2px solid black;
    padding: 9px 42px 10px 14px;
    margin-bottom: 19px;
    color: black;
    font-family: "PT Sans Narrow", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.popup .login-container,
.popup .password-container{
    position: relative;
}

.popup .login-container::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 12px;
    width: 15px;
    height: 15px;
    background: url(../images/popup-sprite.png);
    background-repeat: no-repeat;
}

.popup .password-container::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 12px;
    width: 15px;
    height: 17px;
    background: url(../images/popup-sprite.png);
    background-repeat: no-repeat;
    background-position-x: -36px;
}

.popup .help-field {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    margin-bottom: 17px;
}

.popup input[type="checkbox"] {
    display: none;
}

.popup .remember {
    display: flex;
    align-items: center;
}

.popup .remember span {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    background-color: white;
}

.popup .remember span {
    margin-right: 12px;
}

.popup .remember input:checked+span::before,
.popup .remember input:checked+span::after {
    content: "";
    width: 20px;
    height: 3px;
    background-color: black;
    position: absolute;
    top: 10px;
}

.popup .remember span::before{
    transform: rotate(45deg);
}
.popup .remember span::after {
    transform: rotate(-45deg);
}

.popup .help-field .forget-password a {
    color: black;
    border-bottom: 1px dotted black;
}

.popup .btn {
    width: 100%;
}

.popup-map {
    width: 766px;
    height: 560px;
    position: fixed;
    z-index: 40;
    background: url(../images/popup-map.jpg);
    top: 20%;
    left: 50%;
    margin-left: -383px;
}

.gray-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 10;
}